<div id="modalId">
  <form class="" role="form">
  <div class="modal-header">
    <h3 class="modal-title">Upload d'image</h3>
  </div>

  <div class="modal-body">
    <p>Entrez un nom ou un pseudo afin de vous associer à l'image</p>
    <ul>
      <li>
        <label class="sr-only" for="username">Pseudo : </label>
        <input type="text" name="username" id="username" ng-model="username" placeholder="Entrez un pseudo">
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
    <button class="btn btn-default" ng-click='saveUser()'>Valider</button>
  </div>
  </form>
</div>