<div class="modal-header">
  <h3 class="modal-title">Chat modal</h3>
</div>
<div class="modal-body">
  <form data-ng-submit="sendUser()" class="form-inline" role="form">
    <input type="text" data-ng-model="messageUser" placeholder="Enter message" />
    <br />
    <input type="submit" value="Envoyer" />
    <a href="" data-ng-click="archive()">Archiver</a>
  </form>
  <div>
    <ul>
      <li class="list-unstyled" ng-repeat="todo in todos track by $index">{{todo.username}} : {{todo.message}}</li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>