<div class="admin">
  <div header-adm></div>
  <div class="ctx_">
    <h1>Users Administration</h1>
    <span ng-init="getUsersList()"></span>
    <form name="form" ng-submit="submitUser(form)">
      <table class="table svcList">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
            <th>Reputation</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Locked</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{ 'user-locked': user.locked }" ng-click="editUserLine($index)" class="hvbg" ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.role}}</td>
            <td>{{user.reputation}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.age}}</td>
            <td><input type="checkbox" ng-model="user.locked" disabled="disabled"/></td>
          </tr>
          <tr class="edit" ng-show="userEditIndex != -1">
            <td><input class="form-input" ng-model="usr.username" name="username" type="text"/></td>
            <td><input class="form-input" ng-model="usr.email" name="email" type="text" value="{{user.email}}"/></td>
            <td><input class="form-input" ng-model="usr.password" name="password" type="password" value="{{user.password}}"/></td>
            <td>
              <select class="form-input" ng-model="usr.role" required>
                <option value="user">user</option>
                <option value="admin">admin</option>
              </select>
            </td>
            <td><input class="form-input" ng-model="usr.reputation" name="reputation"  type="number" value="{{user.reputation}}"/></td>
            <td><input class="form-input" ng-model="usr.firstName" name="firstName" type="text" value="{{user.firstName}}"/></td>
            <td><input class="form-input" ng-model="usr.lastName" name="lastName" type="text" value="{{user.lastName}}"/></td>
            <td><input class="form-input" ng-model="usr.age" name="age" type="number" value="{{user.age}}"/></td>
            <td><input type="checkbox" ng-model="usr.locked"/></td>
          </tr>
          <tr ng-show="userEditIndex != -1">
            <td>
              <button ng-show="userEditIndex != -1" class="btn_1 wf" type="submit">Enregistrer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>