/*///////////////////////////////////////////////////////////////////////////////
//// 1. Trop de DEAD CODE... Je n'ai même pas testé l'intérieur des balises /////
//// 2. Faire des noms plus explicites //////////////////////////////////////////
//// 3. Séparer en plusieurs fichiers... (La performance on verra après...) /////
//// 4. Faire plus de comments... Pour savoir exactement à quoi ca renvoie //////
/////////////////////////////////////////////////////////////////////////////////
*/

.top-buffer {
  padding-top: 20px;
}

.tags-wrapper {
  position: relative;
  text-align: center;
}
.tags-cloud .tag {
  float: left;
  padding: 4px 6px;
  font-size: 1em;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #f2f2f2;
  font-weight: 600;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #dddddd;
}
.tags-cloud .tag:hover {
  border: 1px solid #cccccc;
}
.tags-cloud .tag:hover .cross {
  opacity: 1;
}
.tags-cloud .tag .cross {
  margin-left: 5px;
  margin-right: 3px;
  font-size: 1em;
  color: #20a28e;
  opacity: .7;
  cursor: pointer;
}
.suggestions-list {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 14px;
  z-index: 2;
}


.suggestions-list tr {
  color: #333333;
  font-size: 1em;
  cursor: pointer;
  background: #f2f2f2;
  border-bottom: 1px solid #dddddd;
}
.suggestions-list li:hover {
  background: #dddddd;
}
.suggestions-list li:active,
.suggestions-list li.active {
  color: #20a28e;
  background: #dddddd;
}
.suggestions-list:focus {
  outline: none;
}


/*body {
  background-color: white;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}*/
a {
  cursor: pointer;
}
a:focus {
  outline: none;
}
h3 {
  font-family: "Trebuchet MS", sans;
}
/*.mg_auto {
  margin: auto;
  display: inline-block;
}
.size_1 {
  width: 200px;
}
.wf {
  width: 100%;
}*/
.mwf {
  max-width: 100% width: 100% !important;
}
.mwf {
  max-width: 100% !important;
}
.inlb {
  display: inline-block !important;
}
.inl {
  display: inline !important;
}

.bl{
  display: block !important;
}

.mgr30{
  margin-right:30px !important;
}

/*.mgv10{
  margin-bottom: 10px;
  margin-top:10px;
}

.mgb10{
  margin-bottom: 10px;
}

.commentStyle{
  font-style: italic;
  color:#B6B6B6;
}

.blockBg{
  padding:10px;
  background-color:#EFEFEF;
  margin-bottom:10px;
  margin-top:10px;
}*/

/* *********** form ************ */
.form-label {
  font-size: 14px;
  font-weight: normal;
}
label {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.form-input {
  height: 34px;
}
textarea.form-input {
  height: 200px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.form-input {
  padding-left: 12px;
  padding-right: 12px;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.42;
  color: #555;
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-input:focus {
  border: 1px solid #66AFE9;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
.btn_1 {
  position: relative;
  display: block;
  border: none;
  border-radius: 2px;
  width: 120px;
  height: 34px;
  color: white;
  font-weight: bold;
  font-family: arial, sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.47);
  text-align: center;
  cursor: pointer !important;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  text-decoration: none;
  background-color: #E1897D;
}
.btn_1:hover {
  background-color: #DB796C;
}
.form-group {
  margin-bottom: 10px;
}
.form-help {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #B06D6D;
  font-style: italic;
}
/* ******** Bootstrap ********** */
.btn_ {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: white;
  color: #333;
}
.btn_:focus {
  color: #333;
  background-color: #E6E6E6;
  border-color: #ADADAD;
  text-decoration: none;
}
.btn_:hover {
  color: #333;
  background-color: #E6E6E6;
  border-color: #ADADAD;
  text-decoration: none;
}
.alert_ {
  padding: 15px;
  margin-bottom: 5px;
  border: 1px solid;
  border-radius: 4px;
}
.alert-info_ {
  color: #31708F;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}

.alert-error_{
  color: #A94442;
  background-color: #F2DEDE;
  border:1px solid #EBCCD1;
  padding:10px;
  margin:15px 0px 15px 0px;
  text-align: center;
  border-radius:4px;
  display:block;
}

.alert-success_{
  color: #31708F;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  padding:10px;
  margin:15px 0px 15px 0px;
  text-align: center;
  border-radius:4px;
  display:block;
}


/* ******* Abstract Classes ********** */
/* ******* Main Header ********* */
.mainHeader {
  width: 100%;
  height:50px;
  border-bottom: 8px solid #F09F95;
  background: url("../icons/background-icon-repeat.png") repeat-x scroll 0% 0% rgba(219, 106, 91, 0.93);
  color:white;
  font-family:arial;
  position:relative;
  z-index:200;
}

.mainHeader a{
  color:white;
  text-decoration: none;
}

.mainHeader a:hover{
  text-decoration: none;
  color:white;
}

.mainHeader .leftArea{
  width:33%;
  height:100%;
  display:inline-block;
  vertical-align: top;
}

.leftArea .logo_{
  background: url("../icons/logo.png") no-repeat;
  width:121px;
  height:100%;
  background-size:121px auto;
  margin:auto;
  background-position:center;
}

.mainHeader .centerArea{
  width:33%;
  height:100%;
  display:inline-block;
  vertical-align: top;
  line-height:42px;
}

.mainHeader input{
  color:#F09F95;
  border:none;
  border-radius:2px;
  height:25px;
  padding-left:12px;
  padding-right:12px;
}

.mainHeader input#searchInput{
  background: url('../icons/loupe.png') no-repeat;
  background-position:3px 3px;
  background-color:white;
  height:25px;
  padding-left:30px;
}

.mainHeader .rightArea{
  width:33%;
  height:100%;
  display:inline-block;
  vertical-align: top;
  line-height:42px;
  font-weight:bold;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mainHeader .rightArea span{
  cursor:pointer;

}

.mainHeader .rightArea .loginDropdown
{
  display:none;
}

.mainHeader .rightArea .loginDropdown.open{
  font-weight: normal;
  display:block;
  background-color:#F09F95;
  padding:10px;
  text-align: left;
  position:absolute;
  right:70px;
}

.mainHeader .btn_{
  color:#F09F95;
  font-weight: bold;
  border:none;
  line-height: 1.2;
  height:30px;
}

/* ************ Body Header ********** */
nav.bodyHeader {
  display:inline-block;
  height: 100%;
  width:150px;
  position: absolute;
  background-color: white;
  border-right: 1px solid #D7D7D7;
  color: black !important;
  padding: 40px 10px 0px 10px;
  font-family: "Trebuchet MS", sans;
  font-size: 18px;
  z-index: 190;
}
nav li.tab {
  display:block;
  height:22px;
  margin-bottom:3px;
}

nav li.tab:hover{
  background-color : #DB6A5B;
}

nav li.tab a {
  display:block;
  padding-left:24px;
  font-size:14px;
  color:black;
}

nav li.tab a:hover {
  text-decoration: none;
}
nav li.tab a:focus {
  text-decoration: none;
}

nav li.tab.activated {
  background-color : #F0978C;
}
nav li.tab.activated a {
  
}



nav span a {
  height: 32px;
  line-height: 32px;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
}

/* ************** Icons ************ */
.icon {

}
.iHome {
  background: url('../icons/navbar/home.png') no-repeat left;
}
li.activated .iHome {
  background: url('../icons/navbar/home.png') no-repeat left;
}
.iService {
  background: url('../icons/navbar/news.png') no-repeat left;
}
li.activated .iService {
  background: url('../icons/navbar/news.png') no-repeat left;
}
.iNews {
  background: url('../icons/navbar/news.png') no-repeat left;
}
li.activated .iNews {
 background: url('../icons/navbar/news.png') no-repeat left;
}
.iPicture {
  background: url('../icons/navbar/image.png') no-repeat left;
  background-position: 6px;
  background-size: 12px auto;
}
li.activated .iPicture {
  background: url('../icons/navbar/image.png') no-repeat left;
  background-position: 6px;
  background-size: 12px auto;
}
.iMessage {
  background: url('../icons/navbar/message.png') no-repeat left;
}
li.activated .iMessage {
  background: url('../icons/navbar/message.png') no-repeat left;
}
.iMoney {
  background: url('../icons/navbar/money.png') no-repeat;
  background-size:13px auto !important;
  background-position: 6px center !important;
}
li.activated .iMoney {
  background: url('../icons/navbar/money.png') no-repeat;
  background-size:13px auto !important;
  background-position: 6px center !important;
}
.iHelp {
  background: url('../icons/navbar/help.png') no-repeat left;
}
li.activated .iHelp {
  background: url('../icons/navbar/help.png') no-repeat left;
}
.iProfile {
  background: url('../icons/navbar/profile.png') no-repeat left;
}
li.activated .iProfile {
  background: url('../icons/navbar/profile.png') no-repeat left;
}

.iHistory {
  background: url('../icons/navbar/history.png') no-repeat;
  background-size:13px auto !important;
  background-position: 6px center !important;
}

li.activated .iHistory{
  background: url('../icons/navbar/history.png') no-repeat;
}

/* ************ Body ********** */
.ctx_ {
  width: 100%;
  padding-bottom: 20px;
  position: relative;
  background-color: white;
  padding-left: 140px;
}
.container_ {
  background-color: white;
  padding: 20px;
}
.container_ .area {
  z-index: 3;
  display: inline-block;
  vertical-align: top;
}
.container_ .register {
  z-index: 3;
  max-width: 400px;
  width: 100%;
}
.container_ .register h1 {
  z-index: 3;
  padding: 5px;
}
/* *********** list ads ********** */
.container_ .ctg {
  z-index: 3;
  width: 18%;
}
.container_ .ctg.horizontalArea {
  z-index: 3;
  display: none;
}
.container_ .svc {
  z-index: 3;
  width: 79%;
}
.svc .btnArea {
  margin-bottom: 5px;
}
table.svcList .thrDesc {
  font-style: italic;
  color: #939292;
}
table.svcList a {
  color: #4b9cc8;
  text-decoration: none;
}
table.svcList a:hover {
  color: #2d6c93;
  text-decoration: none;
}
table.svcList .rating {
  width: 15%;
}
table.svcList .posted {
  width: 25%;
}
div.ctgvBar {
  text-align: center;
  background-color: #EAEAEA;
  padding: 5px;
}
div.ctgvBar .bar input {
  width: 100%;
}
.fm-panel {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.fm-panel form .ctgList {
  padding-left: 15px;
}
.fm-panel h3 {
  margin-bottom: 10px !important;
}
/* ************ View Thread *********** */
section.viewService {
  margin-bottom: 10px;
}
section.editService {
  max-width: 800px;
  width: 100%;
}
.container_.createService {
  z-index: 3;
  text-align: center;
}
.container_.createService section {
  z-index: 3;
  display: inline-block;
  width: 40%;
  min-width: 500px;
  vertical-align: top;
  text-align: left;
}
section.newService {
  margin-right: 20px;
}
section.comment {
  width: 100%;
  max-width: 800px;
}
form.postComment {
  margin-bottom: 10px;
}
form.postComment textarea {
  margin-bottom: 5px;
  max-width: 600px;
  width: 100%;
}
ul.cmts {
  padding-left: 0px;
}
li.cmt {
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  list-style: none;
  position: relative;
  border-bottom: 1px solid #ededed;
}
li.cmt p {
  margin: 0px;
}
li.cmt h3.author {
  font-size: 17px;
  color: #6699BD;
  margin-bottom: 2px;
  font-weight: bold;
}
li.cmt p.content {
  color: #80ACCC;
  font-size: 14px;
  font-style: italic;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #80ACCC;
}
li.cmt p.date {
  font-size: 12px;
  text-align: right;
  color: #7897A5;
}
a.removeComment {
  position: absolute;
  right: 5px;
  top: -10px;
  cursor: pointer;
  color: #6699BD;
  font-weight: bold;
}
/****************************************
 * angular components                   *
 ****************************************/
.fm-rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}
ul.fm-rating {
  display: inline-block;
}
.fm-rating-pointer {
  cursor: pointer;
}
.fm-rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}
.fm-rating .fm-selected {
  color: #E4CF58;
}
.fm-rating .fm-hover {
  color: #757575;
}
fm-rating a {
  visibility: hidden;
  padding-left: 7px;
}
fm-rating:hover a {
  visibility: visible;
}
.my-controller {
  border: 1px solid #fcc;
  padding: 5px;
  margin: 3px;
}
.my-controller small {
  color: #c99;
}
.other-controller {
  border: 1px solid #ccf;
  padding: 5px;
  margin: 3px;
}
.other-controller small {
  color: #99c;
}
.third-controller {
  border: 1px solid #cfc;
  padding: 5px;
  margin: 3px;
}
.third-controller small {
  color: #9c9;
}
/* *************** Image ***************** */
.list-img_ {
  height: 100px !important;
  margin-right: 10px;
}
/* *************** Import (Responsive) ************ */
@media only screen and (max-width: 992px) {
  .medium_hide {
    display: none;
  }
  /* *********** Main header ************ */
  /* ********** Body HEader *********** */
  nav.bodyHeader {
    font-size: 15px;
  }
  /* ******** Body ********** */
  .container_ {
    border: 1px solid yellow;
  }
  /* ******** list thread ******** */
  .container_ .ctg.horizontalArea {
    display: block;
    width: 100%;
    background-color: #f0f0f0;
  }
  .fm-panel {
    padding: 10px;
  }
  .fm-panel .line {
    display: block;
    width: 100%;
  }
  .fm-panel .column {
    display: inline-block;
    vertical-align: top;
  }
  .fm-panel .column.left {
    width: 100px;
  }
  .fm-panel h3 {
    display: inline-block;
    margin-right: 5px;
  }
  input.form-input {
    display: inline-block;
    max-width: 200px;
    width: 100%;
  }
  .fm-panel label,
  .fm-panel input {
    display: inline-block;
    margin: 0px;
  }
  .fm-panel label.checkbox {
    margin-right: 5px;
    vertical-align: bottom;
  }
  .container_ .ctg {
    display: none;
  }
  .container_ .svc {
    width: 100%;
  }
  .svc .btnArea {
    margin-top: 10px;
  }
}

/* Transaction */

.trBtn{
  padding:5px;
  border:none;
  background-color: white;
  cursor:pointer;
  font-size:18px;
}

.trBtn.open{
  background-color:#F0978C;
}

.modal-body {
  max-height: 500px;
  overflow: auto;
}

/* ************* drag and drop ************** */
.upload-modal .modal-footer{
  text-align: left;
}

.upload-modal .modal-footer div{
  margin-bottom: 5px;
}

.dropfile.modal_{
  display:inline-block;
}



.dropzone{
  /*background: url('../icons/dpz-drag.png') no-repeat;
  background-size: 374px 162px;
  background-position: center;*/
  border:1px solid #C8C8C8;
  background-color: #EDEDED;
  border-radius:4px;
  position:relative;
  cursor:pointer;
  padding:10px;
  width:200px;
  min-height:100px;
}

.album.dropfile{
    max-width:800px;
  margin:auto;
}

.album .dropzone{
  width:100%;
  min-height:150px;
}

.album.dropfile .background_text{
  font-family: Kristen ITC;
  font-size:25px;
  max-width:260px;
  margin:auto;
  padding-top:40px;
  padding-bottom: 40px;
}


.dropzone.hover{
}

.dropzone.dropped{
}

.dropzone .background_text{
  position:absolute;
  display:block;
  left:0px;
  right:0px;
  text-align: center;
  top:0px;
  padding-top:27px;
  padding-bottom: 27px;
  font-size:16px;
  color:#A7A7A7;
}

.dropfile .btn-ctn{
  text-align: center;
  display:none;
  z-index:10;
  margin-top:5px;
  margin-bottom:5px;
}

.dropfile .btn-ctn button{
  margin-left:2px;
  margin-right:2px;
}

.tbz{
  width:350px;
  margin-left:10px;
  display:inline-block;
  vertical-align: top;
}

.thb-box{
  width:92px;
  height:92px;
  display:inline-block;
  background-color:white;
  border:1px solid #717171;
  margin-right:5px;
  margin-left:5px;
  margin-bottom:5px;
  position:relative;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family:cursive;
  overflow:hidden;
  font-size:14px;
  padding:5px;
  cursor: pointer;
}

.thb-box img:hover{
  opacity:0.4;
}

.thb-box .info{
  position:absolute;
  background:rgba(255, 255, 255, 0.74);
  bottom:0px;
  left:0px;
  right:0px;
  text-align: center;
  font-size:12px;
  font-weight: bold;
  font-family: trebuchet MS;
}

.images-list-modal{
  text-align: center;
  height:130px;
  overflow-y:hidden;
}

.images-list-modal div.scroll-x{
  text-align: left;
  height:130px;
  white-space: nowrap;
}

.images-list-album{
  max-width:800px;
  text-align: center;
  margin:auto;
}

.image-box
{
  display:inline-block;
  border:1px solid #DADADA;
  background-color: white;
  margin-right:5px;
  margin-left:5px;
  margin-bottom:5px;
  padding:2px;
  position:relative;
  background-color:white;
  width:100px;
  height:100px;
}

.images-list-album .image-box{
  width:150px;
  height:150px;
}

.image-box-bg{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}



.image-box .dropdown_{
  display:none;
  position:absolute;
  right:0px;
  top:0px;
  width:30px;
  height:30px;
  padding: 6px 6px 4px 4px;
  cursor:pointer;
  z-index:5;
}

.image-box .dropdown_ .i
{
  display:block;
  width:100%;
  height:100%;
  background: url('../icons/dropdown.png');
  background-size:22px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color:white;
  background-color:rgba(246, 246, 246, 0.7);
  border-radius: 15px;
}

.image-box .dropdown-menu_
{
  display:none;
  background-color: white;
  position:absolute;
  top:5px;
  right:5px;
  left:5px;
  border:1px solid #DEDEDE;
  z-index:2;
  padding:10px;
  padding-top:15px;
  text-align: left;
  border-radius:3px;
  box-shadow: 0px 2px 12px #C0C0C0;
  moz-box-shadow: 0px 2px 12px #C0C0C0;
  webkit-box-shadow: 0px 2px 12px #C0C0C0;
}

.image-box .dropdown-menu_ .group{
  margin-bottom:3px;
  padding-bottom: 3px;
  color:#848484;
  cursor:pointer;
}

.image-box .dropdown-menu_ .group:hover{
  color:#F0978C;
}

.image-box.selected{
  border:1px solid #20D720;
  moz-box-shadow: 1px 1px 10px rgba(32, 215, 32, 0.4);
  webkit-box-shadow: 1px 1px 10px rgba(32, 215, 32, 0.4);
  box-shadow: 1px 1px 10px rgba(32, 215, 32, 0.4);
}

.image-box img{
  width:100px;
  height:100px;
}

.images-list-album .image-box img
{
  width:150px;
  height:150px;
}

.upload-modal .image-box{
  cursor:pointer;
}



.dropfile-progress-bar{
  display:block;
}

/*.thb-box .progress-bar{
  width:112px;
  display:block;
  position:absolute;
  left:0px;
  bottom:0px;
}*/

.dropfile-progress-bar .progress{
  background-color:#91FF91;
  height:10px;
  width:0px;
}









@media only screen and (max-width: 728px) {
  .small_hide {
    display: none;
  }
  /* ************* Main Header ******** */
  /* ************ Body Header ********** */
  nav.bodyHeader li .text {
    display: none;
  }
  /* *********** Body *********** */
  .container_ {
    border: 1px solid orange;
  }
  /* ************ Modify Services *********** */
  .container_.createService section {
    display: block;
    min-width: 0px;
    width: 100%;
    margin: 0px;
  }
}
@media only screen and (max-width: 528px) {
  .xsmall_hide {
    display: none;
  }
  /* *********** Body ********* */
  .container_ {
    border: 1px solid red;
  }
  /* ********* Main Header ******** */
  /* ******** list ads ******** */
  .fm-panel .bottomArea {
    display: none;
  }
  .fm-panel .line {
    text-align: center;
  }
}
