<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
  <section class="newService">
        <div class="col-md-6">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-file">
                            </span>Publier un service
                        </h4>
                    </div>
                        <form ng-submit="create()">
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="title">Demande</label>
                                        <select name="demande" ng-model="type" class="form-control">
                                          <option>Offre</option>
                                          <option>Recherche</option>
                                        </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="price">Nombre d'heures</label>
                                      <input type="number" ng-model="price" class="form-control" placeholder="Prix" required/>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="row">
                                  <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" ng-model="title" class="form-control" placeholder="Titre" required />
                                    </div>
                                    <div class="form-group">
                                        <textarea ng-model="content" class="form-control" placeholder="Description" rows="5" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="category">
                                            Category</label>
                                        <select ng-init="getCategories()" ng-model="category" class="form-control" id="category">
                                            <option>Ménage</option>
                                            <option>Education</option>
                                            <option>Sport</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tags">
                                            Tags</label>
                                        <input type="text" class="form-control" id="tags" placeholder="Tags" />
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                              <button type="submit" class="btn btn-success btn-sm">
                                  <span class="glyphicon glyphicon-floppy-disk"></span>Valider</button>
                          </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

  </section>
  <section ng-init="initListCreateAnnounce(currentUser._id)" class="size_1">
    <h2>Liste de vos services</h2>
    <input class="form-input" type="text" ng-model="searchString" placeholder="Rechercher" />
    <div class="my-controller">
      <div class="row">
        <div class="col-xs-3">
          <h3>Page: {{ currentPage }}</h3>
        </div>
        <div class="col-xs-3">
          <label for="search">Services per page:</label>
          <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
        </div>
      </div>
      <br>
      
      <table class="table">
        <tr>
          <th class="xsmall_hidden">Demande</th>
          <th>Service</th>
          <th>Actions</th>
        </tr>
        <tr ng-repeat="announce in announces">
          {{announce}}
          <td ng-if="currentUser._id == announce.creator">
            {{announce.type}}
          </td>
          <td ng-if="currentUser._id == announce.creator">
            {{announce.title}}
          </td>
          <td ng-if="currentUser._id == announce.creator">
            <div class="btn-group">
              <a class="btn btn-default" href="/announces/{{announce._id}}">Voir</a>
            </div>
            <div class="btn-group">
              <a class="btn btn-danger" ng-click="remove(announce)">Supprimer</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </section>