<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<!-- 
<style>

body {
   font-family:Verdana;
}
.pad-top {
    padding-top:30px;
}
.pad-bottom {
     padding-bottom:30px;
}

.hr-clas {
    border-top: 1px solid #A12EB3;
}

.chat-box-main {
    max-height:500px;
    overflow:auto;
}
.chat-box-div {
    border:2px solid #A12EB3;
    border-bottom:2px solid #A12EB3;
} 
.chat-box-head {
    padding: 10px 15px;
border-bottom: 2px solid #A12EB3;
background-color: #B25AE5;
color: #fff;
text-align: center;

}

.chat-box-left {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #C5C5C5;
    font-size:12px;
}
.chat-box-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #C5C5C5;
    border-width: 15px;
    margin-left: -15px;
}

.chat-box-name-left {
    margin-top: 30px;
    margin-left: 60px;
    text-align:left;
    color:#049E64;
}
    .chat-box-name-left img {
        max-width:40px;
        border: 2px solid #049E64;
    }

    .chat-box-right {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #C5C5C5;
    font-size:12px;
}
.chat-box-right:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #C5C5C5;
    border-width: 15px;
    margin-left: -15px;
}

.chat-box-name-right {
    color: #354EA0;
    margin-top: 30px;
    margin-right: 60px;
    text-align:right;
}

.chat-box-name-right img {
        max-width:40px;
        border: 2px solid #354EA0;
    }
.chat-box-footer {
    background-color: #D8D8D8;
padding: 10px;
}

.hr-clas-low {
    border-top: 1px solid #C5C5C5;
}

.chat-box-online {
     max-height:554px;
    overflow:auto;
}
.chat-box-online-div {
    border:2px solid #03DB2F;
    border-bottom:2px solid #03DB2F;
} 

.chat-box-online-head {
    padding: 10px 15px;
border-bottom: 2px solid #03DB2F;
background-color: #03DB2F;
color: #fff;
text-align: center;

}

.chat-box-online-left {
    margin-left: 10px;
    text-align:left;
    color:#049E64;
}
    .chat-box-online-left img {
        max-width:30px;
        border:1px solid #049E64;
        margin-bottom:10px;
    }
    .chat-box-online-right {
    margin-right: 10px;
   text-align:right;
    color:#354EA0;
}
    .chat-box-online-right img {
       max-width:30px;
        border:1px solid #354EA0;
        margin-bottom:10px;
        
    }

.chat-box-new {
     max-height:554px;
    overflow:auto;
}
.chat-box-new-div {
    border:2px solid #ff6a00;
    border-bottom:2px solid #ff6a00;
} 

.chat-box-new-head {
    padding: 10px 15px;
border-bottom: 2px solid #ff6a00;
background-color: #ff6a00;
color: #fff;
text-align: center;

}
</style>


 -->

<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
<div class="row">
  <section class="newService">
    <div class="col-md-6">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <span class="glyphicon glyphicon-file"></span>
            Publier un service
            </h4>
          </div>
          <form ng-submit="createAnnounce.create()">
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="title">Demande</label>
                      <select name="demande" ng-model="createAnnounce.type" class="form-control">
                        <option>Offre</option>
                        <option>Recherche</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="price">Nombre d'heures</label>
                      <input type="number" ng-model="createAnnounce.price" class="form-control" placeholder="Prix" required/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" ng-model="createAnnounce.title" class="form-control" placeholder="Titre" required />
                    </div>
                    <div class="form-group">
                      <textarea ng-model="createAnnounce.content" class="form-control" placeholder="Description" rows="5" required></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="category">
                      Category</label>
                      <select ng-model="createAnnounce.category" class="form-control">
                        <optgroup label="Réparations">
                          <option>Appareils</option>
                          <option>Meubles</option>
                          <option>Vêtements</option>
                        </optgroup>
                        <optgroup label="Echanges de savoirs">
                          <option>Informatique</option>
                          <option>Musique</option>
                          <option>Cours de langue</option>
                          <option>Photographie</option>
                          <option>Production vidéo</option>
                        </optgroup>
                        <option>Transport</option>
                        <option>Garde d'enfants</option>
                        <option>Ménage</option>
                        <option>Bricolage</option>
                        <option>Peinture</option>
                        <option>Jardinage</option>
                        <option>Expertise comptable</option>
                        <optgroup label="Services de restauration">
                          <option>Préparation de plats cuisiniers</option>
                          <option>Aide pour la mise en place d'un festin</option>
                        </optgroup>
                        <option>Encadrement des activités sportives</option>
                        <option>Soins médicaux</option>
                        <option>Coupe de cheveux</option>
                        <option>Manucure</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="tags">
                      Talents</label>
                      <tagger ng-model="createAnnounce.tags" options="createAnnounce.options" ng-model="createAnnounce.tags" model="createAnnounce.data.tags"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-floppy-disk"></span>Valider</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div ng-init="createAnnounce.initListCreateAnnounce(currentUser._id)" class="col-md-6">
      <ul class="event-list" ng-repeat="announce in createAnnounce.announces">
          <li ng-if="currentUser._id === announce.creator._id">
            <div class="info" ng-if="currentUser._id === announce.creator._id">
              <h2 class="title">{{announce.title}}</h2>
              <p class="desc">{{announce.type}}</p>
              <ul>
                <li style="width:50%;"><span class="fa fa-money"></span> {{announce.price}}</li>
                <li style="width:34%;"> <span class="fa fa-child"></span>3</li>
              </ul>
            </div>
            <div class="social">
              <ul>
                <li class="facebook" style="width:33%;"><a ng-href="/announces/{{announce._id}}"><span class="fa fa-eye"></span></a></li>
                <li class="twitter" style="width:34%;"><a ng-if="announce.activated === true" ng-click="createAnnounce.desactivate(announce)"><span class="fa fa-toggle-off"></span></a>
                <a ng-if="announce.activated === false" ng-click="createAnnounce.activate(announce)"><span class="fa fa-toggle-on"></span></a></li>
                <li style="width:33%;"><a ng-click="createAnnounce.remove(announce)"><span class="fa fa-eraser"></span></a></li>
              </ul>
            </div>
          </li>
        </ul>
    <pagination total-items="createAnnounce.total" ng-change="createAnnounce.pageChanged(createAnnounce.bigCurrentPage)" ng-model="createAnnounce.bigCurrentPage" max-size="createAnnounce.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
  </section>
</div>