<div header></div>
<div class="ctx_">
  <div class="container_">
    <!-- Initialize a new AngularJS app and associate it with a module named "instantSearch"-->
    <section ng-init="initListAnnounce()">
      <div class="ctg area">
        <div class="fm-panel">
          <h3>Filtrer les services</h3>
          <input class="form-input" type="text" ng-model="searchString" placeholder="Rechercher" />
          <form>
            <h5>Réputation</h5>
            <fm-rating ng-model="$parent.filter.rating"></fm-rating>
            <h5>Catégorie</h5>
            <div class="ctgList" fm-checkbox-list ng-model="filter.category">
              <label ng-repeat="category in categories" class="checkbox">
                <input type="checkbox" value="{{category.title}}"> {{category.title}}
              </label>
            </div>
          </form>
        </div>
      </div>
      <div class="ctg horizontalArea">
        <div class="fm-panel">
          <div class="line">
            <h3>Filtrer les services</h3>
            <input class="form-input" type="text" ng-model="searchString" placeholder="Rechercher" />
          </div>
          <div class="line bottomArea">
            <form>
              <div class="column left">
                <h5>Notation</h5>
                <fm-rating ng-model="$parent.filter.rating"></fm-rating>
              </div>
              <div class="column right">
                <h5>Catégorie</h5>
                <div class="ctgList" fm-checkbox-list ng-model="filter.category">
                  <span ng-repeat="category in categories">
                    <input type="checkbox" class="checkbox" value="{{category.title}}"/>
                    <label class="checkbox">
                      {{category.title}}
                    </label>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="svc area">
        <div class="btnArea">
          <div ng-show="currentUser">
            <a href="/announces/create">
              <button class="btn_">Ajouter un service</button>
            </a>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="my-controller">
                <div class="row">
                  <div class="col-xs-4">
                    <h3>Page: {{ currentPage }}</h3>
                  </div>
                  <div class="col-xs-4">
                    <label for="search">Services per page:</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                  </div>
                </div>
                <br>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <table class="table svcList">
                      <thead>
                        <tr>
                          <th class="service">Services</th>
                          <th class="posted small_hide">Posté par</th>
                          <th class="rating xsmall_hide">Prix</th>
                          <th class="status">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr dir-paginate="announce in announces | searchFor:searchString | itemsPerPage: pageSize" current-page="currentPage">
                          <td class="service">
                            <h4>
                            <a href="announces/{{announce._id}}">
                              <b>{{announce.title}}</b>
                            </a>
                            </h4>
                            <p class="thrDesc">{{announce.content | cutFilter }}</p>
                          </td>
                          <td class="posted small_hide">
                            <p>
                              {{announce.creator.facebook.username || announce.creator.username || announce.creator.google.username || announce.creator.linkedIn.username}}
                            </p>
                            <div ng-show="announce.creator.profileImage.small" class="image-box image-box-bg" style="background-image: url('{{announce.creator.profileImage.small}}');">
                            </div>
                            <br/>
                            <span>Posted {{announce.created | date:'medium'}}</span>
                          </td>
                          <td class="rating xsmall_hide">
                            {{announce.price}} crédit(s)
                          </td>
                          <td class="status">
                            <span ng-if="announce.status == 1" style="color:#19C919">Disponible</span>
                            <span ng-if="announce.status != 1" style="color:red;">Non disponible</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div ng-controller="PaginationController" class="other-controller">
                <div class="text-center">
                  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/templates/dirPaginationTemplate.html"></dir-pagination-controls>
                </div>
              </div>
            </section>
            <h1 ng-show="noannounces">No services yet.</h1>
          </div>
        </div>