<!DOCTYPE html>
<html ng-app="InTouch">
    <head>
        <title>InTouch</title>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Banque du temps">
        <!-- build:css(frontend/) css/intouch.min.css -->
        <link rel="stylesheet" href="stylesheets/font-awesome.css"/>

        <link rel="stylesheet" type="text/css" href="stylesheets/angular/sweetalert.css"/>

        <link rel="stylesheet" type="text/css" href="stylesheets/loading/load.css"/>
        <link rel="stylesheet" type="text/css" href="stylesheets/angular/v-tabs.css"/>
        <!-- endbuild -->
        
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>

    </head>
    <body ng-class="{'skip-animations':disabled}">
        <div ng-include src="'views/templates/header.html'"></div>
        <div class="row">
            <div class="col-md-2">
                <div ng-include src="'views/templates/sidebar.html'"></div>
            </div>
            <div class="col-md-9">
                <div ng-view ng-animate="{enter: 'view-enter'}" ng-show='!page'></div>
            </div>
        </div>

        <div ng-include src="'views/templates/footer.html'"></div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://localhost:3000/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!-- build:js(frontend/) js/intouch.min.js -->
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <!--     // <script type="text/javascript" src="javascript/jquery/jquery-1.11.3.min.js"></script>
        // <script type="text/javascript" src="javascript/jquery/jquery-migrate-1.2.1.min.js"></script> -->
        
        <script type="text/javascript" src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="bower_components/angular-messages/angular-messages.js"></script>
        <script type="text/javascript" src="bower_components/ngstorage/ngStorage.js"></script>
        <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="bower_components/toaster/toaster.js"></script>
        <script type="text/javascript" src="bower_components/angular-tagger/build/angular-tagger.js"></script>
        <script type="text/javascript" src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
        <script type="text/javascript" src="bower_components/v-tabs/dist/v-tabs.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="angularConfig.js"></script>
        <script type="text/javascript" src="angularRun.js"></script>
        <script type="text/javascript" src="angularFactories/appLoadingFctr.js"></script>
        <script type="text/javascript" src="angularControllers/MainAngCtrl.js"></script>
        <script type="text/javascript" src="angularControllers/MainHeaderAngCtrl.js"></script>
        <script type="text/javascript" src="angularControllers/actuality/ActualityAngCtrl.js"></script>
        <script type="text/javascript" src="angularControllers/announces/CreateAnnounceAngCtrl.js"></script>
        <script type="text/javascript" src="angularControllers/announces/ListAnnouncesAngCtrl.js"></script>
        <script type="text/javascript" src="angularControllers/announces/ShowAnnounceAngCtrl.js"></script>
        <script type="text/javascript" src="angularControllers/announces/EditAnnounceAngCtrl.js"></script>
        <script type="text/javascript" src="angularControllers/profile/ProfileViewAngCtrl.js"></script>

        <script type="text/javascript" src="angularControllers/message/MessageAngCtrl.js"></script>
        <script type="text/javascript" src="angularControllers/profile/PictureAngCtrl.js"></script>
        <script type="text/javascript" src="angularFactories/auth/authAngSrvc.js"></script>
        <script type="text/javascript" src="angularDirectives/validator/pswCompareToValidatorDrct.js"></script>
        <script type="text/javascript" src="angularDirectives/characterLeftDrct.js"></script>

        <script type="text/javascript" src="angularDirectives/chat/onBlurDrct.js"></script>
        <script type="text/javascript" src="angularDirectives/chat/onFocusDrct.js"></script>
        <script type="text/javascript" src="angularDirectives/validator/emailAvailableValidatorDrct.js"></script>
        <script type="text/javascript" src="angularDirectives/filters/userFilterDrct.js"></script>
        <script type="text/javascript" src="angularDirectives/validator/usernameAvailableValidatorDrct.js"></script>
        <script type="text/javascript" src="angularDirectives/mAppLoadingDrct.js"></script>
        <script type="text/javascript" src="angularDirectives/fileUploadDrct.js"></script>

        <script type="text/javascript" src="angularFactories/auth/AuthInterfaceFctr.js"></script>
        <script type="text/javascript" src="angularFactories/ActualityFctr.js"></script>
        <script type="text/javascript" src="angularFactories/auth/AuthFctr.js"></script>
        <script type="text/javascript" src="angularFactories/auth/SessionFctr.js"></script>
        <script type="text/javascript" src="angularFactories/auth/authAngSrvc.js"></script>
        <script type="text/javascript" src="angularFactories/announces/AnnouncesFctr.js"></script>
        <script type="text/javascript" src="angularFactories/socket/notifications/NotificationsFctr.js"></script>
        <script type="text/javascript" src="angularFactories/announces/CommentsFctr.js"></script>
        <script type="text/javascript" src="angularFactories/socket/notifications/FriendsFctr.js"></script>
        <script type="text/javascript" src="angularFactories/socket/notifications/FriendInterface.js"></script>
        <script type="text/javascript" src="angularFactories/socket/chat/MessagesFctr.js"></script>
        <script type="text/javascript" src="angularFactories/socket/chat/MessageInterfaceFctr.js"></script>
        <script type="text/javascript" src="angularService/messageAngSrvc.js"></script>
        <script type="text/javascript" src="angularFactories/socket/chat/RoomsFctr.js"></script>
        <script type="text/javascript" src="angularFactories/socket/chat/RoomInterfaceFctr.js"></script>
        <script type="text/javascript" src="angularFactories/socket/SocketFctr.js"></script>
        <script type="text/javascript" src="angularFactories/ImageFctr.js"></script>
        <script type="text/javascript" src="angularFactories/socket/ImageInterfaceFctr.js"></script>
        <script type="text/javascript" src="angularFactories/SearchInterfaceFctr.js"></script>
        <script type="text/javascript" src="angularFactories/SearchFctr.js"></script>
        <script type="text/javascript" src="angularControllers/announces/AnnounceInterfaceFctr.js"></script>
        <script type="text/javascript" src="angularService/friendAngSrvc.js"></script>
        <script type="text/javascript" src="angularService/imageAngSrvc.js"></script>
        <script type="text/javascript" src="angularService/messageAngSrvc.js"></script>
        <script type="text/javascript" src="angularService/notificationAngSrvc.js"></script>
        <script type="text/javascript" src="angularFactories/socket/notifications/NotificationInterfaceFctr.js"></script>
        <script type="text/javascript" src="angularService/roomAngSrvc.js"></script>
        <script type="text/javascript" src="angularService/searchAngSrvc.js"></script>
        <script type="text/javascript" src="angularService/announceAngSrvc.js"></script>
        <!-- endbuild -->
    </body>
</html>