<!DOCTYPE html>
<html ng-app="InTouch">
  <head>
    <title>InTouch</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Banque du temps">
    <link rel="stylesheet" href="stylesheets/font-awesome.css"/>
    <link href="stylesheets/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/toaster.css"/>
    

    
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>

    <!-- <link rel="stylesheet" href="stylesheets/main.css"/> -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body ng-class="{'skip-animations':disabled}">
    <div ng-include src="'views/templates/header.html'"></div>
      <div class="row">
    <div class="col-md-2">
      <div ng-include src="'views/templates/sidebar.html'"></div>
    </div>
    <div class="col-md-9">
        <div ng-view ng-animate="{enter: 'view-enter'}"></div>
    </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div ng-include src="'views/templates/footer.html'"></div>

    <script src="javascript/jquery-1.11.3.min.js"></script>
    <script src="javascript/jquery-migrate-1.2.1.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<!--     <script type="text/javascript" src="angularLib/angular.js"></script>
    <script type="text/javascript" src="angularLib/angular-animate.js"></script>
    <script type="text/javascript" src="angularLib/angular-resource.js"></script>
    <script type="text/javascript" src="angularLib/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="angularLib/angular-route.js"></script>
    <script type="text/javascript" src="angularLib/angular-messages.js"></script>
    <script type="text/javascript" src="angularLib/ngStorage.js"></script>
    <script type="text/javascript" src="angularLib/toaster.js"></script>
    <script type="text/javascript" src="angularLib/angular-css.min.js"></script>
    <script type="text/javascript" src="angularLib/angular-file-upload.js"></script>
    <script type="text/javascript" src="angularLib/angular-wurfl-image-tailor.js"></script>
    
    
    <script type="text/javascript" src="angularLib/http-auth-interceptor.js"></script>
    <script type="text/javascript" src="app.js"></script>
    
    <script type="text/javascript" src="angularConfig.js"></script>
    <script type="text/javascript" src="angularRun.js"></script>

    <script type="text/javascript" src="angularFactories/appLoadingFctr.js"></script>
    <script type="text/javascript" src="angularControllers/MainAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/MainHeaderAngCtrl.js"></script>

    <script type="text/javascript" src="angularControllers/announces/CreateAnnounceAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/announces/ListAnnouncesAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/announces/ShowAnnounceAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/announces/EditAnnounceAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/profile/ProfileAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/profile/ProfileViewAngCtrl.js"></script>
    
    <script type="text/javascript" src="angularControllers/profile/ActualityAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/modal/AboutModalAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/profile/HistoricAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/profile/MessageAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/profile/PictureAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/profile/ReputationAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/profile/SettingsAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/profile/AboutAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/profile/JournalAngCtrl.js"></script>
    <script type="text/javascript" src="angularControllers/profile/WalletAngCtrl.js"></script>
    <script type="text/javascript" src="angularDirectives/validator/pswCompareToValidatorDrct.js"></script>
    <script type="text/javascript" src="angularDirectives/filters/ratingDrct.js"></script>
    <script type="text/javascript" src="angularDirectives/chat/onBlurDrct.js"></script>
    <script type="text/javascript" src="angularDirectives/chat/onFocusDrct.js"></script>
    <script type="text/javascript" src="angularDirectives/validator/emailAvailableValidatorDrct.js"></script>
    <script type="text/javascript" src="angularDirectives/filters/userFilterDrct.js"></script>
    <script type="text/javascript" src="angularDirectives/filters/checkboxListDrct.js"></script>
    <script type="text/javascript" src="angularDirectives/validator/usernameAvailableValidatorDrct.js"></script>
    

    <script type="text/javascript" src="angularDirectives/fileUploadDrct.js"></script>

    <script type="text/javascript" src="angularFactories/StatusFctr.js"></script>
    <script type="text/javascript" src="angularFactories/ActualityFctr.js"></script>
    <script type="text/javascript" src="angularFactories/auth/AuthFctr.js"></script>
    <script type="text/javascript" src="angularFactories/auth/SessionFctr.js"></script>
    <script type="text/javascript" src="angularFactories/auth/user/UserFctr.js"></script>
    <script type="text/javascript" src="angularFactories/auth/user/UsernameFctr.js"></script>
    <script type="text/javascript" src="angularFactories/announces/AnnouncesFctr.js"></script>
    <script type="text/javascript" src="angularFactories/socket/NotificationsFctr.js"></script>
    <script type="text/javascript" src="angularFactories/announces/CommentsFctr.js"></script>
    <script type="text/javascript" src="angularFactories/socket/FriendsFctr.js"></script>
    <script type="text/javascript" src="angularFactories/socket/chat/MessagesFctr.js"></script>
    <script type="text/javascript" src="angularFactories/socket/chat/RoomsFctr.js"></script>
    <script type="text/javascript" src="angularFactories/socket/SocketFctr.js"></script>
    <script type="text/javascript" src="angularFactories/auth/user/ProfileFctr.js"></script>
    <script type="text/javascript" src="angularFactories/socket/LikeFctr.js"></script>
    <script type="text/javascript" src="angularFactories/ImageFctr.js"></script>
    <script type="text/javascript" src="angularFilters/starsFltr.js"></script>
    <script type="text/javascript" src="angularFilters/cutFltr.js"></script>
    <script type="text/javascript" src="angularFilters/searchForFltr.js"></script> -->
    <script type="text/javascript" src="minifiedProject.min.js"></script>

    <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>