<nav ng-controller="MainHeaderAngCtrl" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">A propos <span class="sr-only">(current)</span></a></li>
        <li><a ng-click="switch('home')">Accueil</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" placeholder="Rechercher un utilisateur" class="form-control"  ng-keydown="checkKeyDown($event)" ng-model="searchText" ng-change="search()" />
<!--           <div auto-complete url="/search" model="data.tags" placeholder="Search">
        </div> -->
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="currentUser" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Messages 
          <span class="badge">{{currentUser.i}}</span> 
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="message in currentUser.messages">
              <a href="#">{{message.userRec}}</a>
            </li>
          </ul>
        </li>
        <li ng-show="currentUser" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Notifications <span class="badge">{{currentUser.i}}</span> 
          <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="notification in currentUser.notifications">
          Requête d'amitié : {{notification.userRec}} <button type="button" class="btn btn-success" data-ng-click="acceptFriendRequest(notification)">Accepter</button>
          <!--           <button type="button" data-ng-click="refuseFriendRequest(notification)" class="btn btn-danger">Refuser</button> -->
        </li>
          </ul>
        </li>
        <li ng-show="!currentUser"><a ng-click="switch('register')">S'inscrire</a></li>
        <li ng-show="!currentUser"><a ng-click="switch('login')">Se connecter</a></li>
        <li ng-show="currentUser"><a ng-click="logout()">Déconnexion</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/actuality" class="arrow">Actualités</a></li>
      <li><a href="/announces" class="arrow">Echanges</a></li>
      <li><a href="/profile" class="arrow">Profile</a></li>
      <li><a href="/messages" class="arrow">Messages</a></li>
      <li><a href="/pictures" class="arrow">Images</a></li>
      <li><a href="/transaction" class="arrow">Transactions</a></li>
      <li><a href="/settings" class="arrow">Paramètres</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <section ng-if="page === 'login' && !currentUser">
      {{test}}
      <h2>Connectez-vous</h2>
      <form name="form" ng-submit="Login(form)" autocomplete="off" novalidate>
        <ul>
          <li>
            <input type="email" class="" placeholder="Email" name="email" ng-model="user.emailLog" required mongoose-error/>
          </li>
          <li>
            <input class="" placeholder="Mot de passe" type="password" name="password" ng-model="user.passwordLog" ng-minlength="4" required mongoose-error/>
          </li>
          <li>
            <span class="bl" ng-show="errorAuth">{{errorAuth}}</span>
          </li>
          <li>
            <button id="submit" name="submit" type="submit">Se Connecter</button>
          </li>
        </ul>
      </form>
    </section>
  </div>
</div>

  <div class="contact-page main grid-wrap">

    <section ng-if="page === 'register' && !currentUser" class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
      <h2>Inscrivez-vous</h2>
      <p ng-if="page === 'register' && !currentUser" class="warning mbottom">Vos informations resteront strictements confidentielles</p>
      <form name="form" id="contact_form" class="contact_form" novalidate ng-submit="register(form)">
        <header id="navtop">
          <nav class="fleft">
            <ul>
              <li>
                <input type="text" name="usernameReg" minlength="4" maxlength="30" ng-model="user.username" pattern="^[-\w]+$" username-available-validator placeholder="Nom ou pseudo" required autocomplete="off" />
                <p class="form-help" ng-show="form.usernameReg.$error.unique && form.usernameReg">
                  That username is already taken.
                </p>
                <div ng-if="form.$submitted || form.usernameReg.$dirty" ng-messages="form.usernameReg.$error" class="errors">
                  <div class="text-danger" ng-message="required">Vous n'avez pas entré votre pseudo</div>
                  <div class="text-danger" ng-message="minlength">Votre pseudo doit comporter plus de 4 caractères</div>
                  <div class="text-danger" ng-message="maxlength">Votre pseudo est trop long</div>
                  <div class="text-danger" ng-message="pattern">Votre pseudo ne doit pas avoir des caractères alphanumériques</div>
                  <div class="text-danger" ng-message="usernameAvailable">Ce pseudo a déjà été pris</div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <input type="email" class="form-input" name="emailReg" ng-model="user.email" placeholder="Email Address" class="input" required autofocus on-focus email-available-validator autocomplete="off" />
                <p class="text-danger">
                  {{ error.registeredMail }}
                </p>
                <div ng-if="form.$submitted || form.emailReg.$touched" ng-messages="form.emailReg.$error" class="errors">
                  <div class="text-danger" ng-message="required">Vous n'avez pas entré votre email</div>
                  <div class="text-danger" ng-message="email">Votre adresse mail n'est pas valide</div>
                  <div class="text-danger" ng-message="emailAvailable">Cet email a déjà été enregistré</div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <input type="password" class="input" name="passwordReg" minlength="5" maxlength="60" ng-model="user.password" placeholder="Mot de passe" password-characters-validator autocomplete="off" />
                <div ng-if="form.$submitted || form.passwordReg.$touched" ng-messages="form.passwordReg.$error" class="errors">
                  <div class="text-danger" ng-message="required">Vous n'avez pas entré votre mot de passe</div>
                  <div class="text-danger" ng-message="minlength">Votre mot de passe est trop court</div>
                  <div class="text-danger" ng-message="maxlength">Votre mot de passe est trop long</div>
                  <div class="text-danger" ng-message="pattern">Votre mot de passe doit avoir des caractères alphanumériques</div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <input type="password" class="input" name="passwordRegRepeat" required ng-model="user.passwordConfirmation" placeholder="Mot de passe confirmation" compare-to-validator="user.password" autocomplete="off" />
                <div ng-if="form.$submitted || form.passwordRegRepeat.$touched || form.passwordReg.$touched" ng-messages="form.passwordRegRepeat.$error" class="errors">
                  <div class="text-danger" ng-message="required">Vous devez entrer un mot de passe de confirmation</div>
                  <div class="text-danger" ng-message="compareTo">Les mots de passe sont différents</div>
                </div>
              </li>
            </ul>
          </nav>
          <button id="submit" name="submit" type="submit" ng-disabled="form.$invalid">Valider</button>
        </header>
      </form>
    </section>
  </div>
  <!--   <nav ng-controller="NavbarAngCtrl" ng-init="init()" role="navigation" class="bodyHeader">
    <li class="tab" ng-repeat="item in navMenu" ng-show="item.show == 1 || item.show == 2" ng-click="changeIx($index)" ng-class="{activated: ix==$index}">
      <a ng-show="item.path" href="{{item.path}}" class="icon {{item.classIcon}}">{{item.title}}<span class="badge" ng-show="item.title === 'Message'">{{currentUser.i}}</span></a>
    </li>
  </nav>
  -->
  <div ng-if="page === 'register' && !currentUser || page === 'login' && !currentUser">
    <aside class="grid col-one-quarter mq2-col-full">
      <menu>
      <ul>
      </ul>
      </menu>
    </aside>
  </div>
</div>