<div header></div>
  <div ng-show="!currentUser">
   
  <div class="about-page main grid-wrap">
    <section ng-if="!currentUser" class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
      <p >Authentification anonyme</p>
      <div ng-show="!joined">
        <form class="" role="form">
          <ul>
            <li>
              <label class="sr-only" for="username">Pseudo : </label>
              <input type="text" name="username" id="username" ng-model="username" placeholder="Entrez un pseudo">
            </li>
            <li>
              <button type="submit" class="btn btn-default btn-sm" ng-click='joinServer()'>Entrez dans InTouch</button>
            </li>
          </ul>
        </form>
      <small  ng-if="error" class="text-danger">{{ error.join }}</small> <small  ng-if="suggestedUsername" class="text-info" ng-click="setUsername(suggestedUsername)">Pourquoi pas <span class="text-success" style="cursor: pointer;">{{ suggestedUsername }}</a>?</small>
    </div>

  </div>
</div>
<div ng-show="currentUser">
  <div class="container_">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
    <hr class="">
    <div class="container target">
      <div class="row">
        <div class="col-sm-11">
          <div class="alert_ alert-info_" >
            Bonjour, {{currentUser.username}}
             <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" ng-show="joined">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ peopleCount }} online <b class="caret" ng-if="peopleCount > 0"></b></a>
        <ul class="dropdown-menu">
          <li ng-repeat="user in users"><p class="white">{{ user.name }} </p></li>
        </ul>
      </li>
  </ul>
      <div ng-hide="!joined" class="container" >
        <div id="chatpanel" ng-show="user.inroom" >
          <div id="chat">
            <form class="form-inline" role="form" ng-show="user.owns || user.inroom">
              <div class="form-group">
                <label class="sr-only" for="message">Message: </label>
                <input type="text" placeholder="Enter message" class="form-control" ng-model="message" name="message" id="message" ng-keypress="typing($event, user.inroom)" on-focus="focus(true)" on-blur="focus(false)">
              </div>
              <button type="submit" class="btn btn-default btn-sm" ng-click='send()'>Envoyez</button>
            </form>
            <small  ng-if="error" class="text-danger">{{ error.send }}</small>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div id="messages">
                <ul>
                  <li class="list-unstyled" ng-repeat="message in messages track by $index"  autoscroll ng-class="{dark: $index % 2 === 0}"><strong>{{ message.name }}</strong>: {{ message.message }}</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div id="sidebar">
                <ul ng-if="isTyping">
                  <li  ng-repeat="person in typingPeople track by $index" class="text-muted list-unstyled"><small>{{ person }} is typing</small></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divide-top">
  <footer class="grid-wrap">
    <nav class="grid col-one-third ">
      <ul>
        <li><a href="blog.html">Site vitrine</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </footer>
</div>