
<div ng-show="!currentUser && !page" >

  <br/>

<v-tabs class="vTabs--default" horizontal active="auth.tabs.active">
  <v-tab>Rechercher une annonce</v-tab>
  <v-tab>Présentation</v-tab>
  <v-tab>Inscription</v-tab>
</v-tabs>

<v-pages class="vPages--default" active="auth.tabs.active">
  <v-page>
<div class="container">
  <div class="row">
        <div class="col-md-6">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                  <form ng-submit="auth.Search()">
                    <input ng-model="auth.searchField" type="text" class="form-control input-lg" placeholder="Recherche..." />
                    </form>
                </div>
            </div>
        </div>
  </div>
  <div class="col-sm-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            Recherche dans le titre uniquement
          </label>
        </div>
        </div>
</div>

<br/>
<section ng-init="auth.initListAnnounce()">
  <div ng-if="!auth.searchField">
    <div ng-repeat="announce in auth.announces track by $index">
      <div class="well">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
          <a ng-href="announces/{{announce._id}}">
            <b>{{announce.title}}</b>
          </a>
          <button ng-hide="announce.likeCreator.userSend == currentUser.username" ng-click="announce.like(announce._id, announce.creator.username, announce.creator._id)" class="btn icon-btn btn-primary" href="#"><span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary"></span>Like</button>
          </h4>
          <p class="text-right">{{announce.creator.username}}</p>
          <p>{{announce.content }}</p>

          <ul class="list-inline list-unstyled">
            <li><span><i class="glyphicon glyphicon-calendar"></i>
            {{announce.FORMATTED_DATE}} </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i>{{announce.nbComment}}</span>
            <li>|</li>
            <li>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>{{announce.price}} crédit(s)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div ng-show="auth.searchField">
  <div dir-paginate="announce in auth.announces | filter:q | itemsPerPage: auth.pageSize" current-page="auth.currentPage">
    <div class="well">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
          <a ng-href="announces/{{announce._id}}">
            <b>{{announce.title}}</b>
          </a>
          <button ng-hide="announce.likeCreator.userSend == currentUser.username" ng-click="announce.like(announce._id, announce.creator.username, announce.creator._id)" class="btn icon-btn btn-primary" href="#"><span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary"></span>Like</button>
          </h4>
          <p class="text-right">{{announce.creator.username}}</p>
          <p>{{announce.content }}</p>

          <ul class="list-inline list-unstyled">
            <li><span><i class="glyphicon glyphicon-calendar"></i>
            {{announce.FORMATTED_DATE}} </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i>{{announce.nbComment}}</span>
            <li>|</li>
            <li>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>{{announce.price}} crédit(s)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  <div ng-show='auth.searchField' ng-controller="OtherController">
    <div class="text-center">
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/partials/dirPagination.tpl.html">
    </dir-pagination-controls>
    </div>

  </div>

    <pagination ng-hide="auth.searchField" total-items="auth.total" ng-change="auth.pageChanged(auth.bigCurrentPage)" ng-model="auth.bigCurrentPage" max-size="auth.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
</section> 
</v-page>
<v-page>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/mpE8UMMZa9w?rel=0">
          </iframe>
      </div> 
    </div>
  </div>
  </div>
</v-page>
<v-page>
  <div class="row"> 
  <div class="container"> 
  <div <div class="col-md-7 col-md-offset-1"> 
  <div class="panel panel-login"> 
  <div class="panel-body" > 
  <div class="row"> 
  <div class="col-lg-12" > 
  <form id="register-form" class="form" name="form" novalidate ng-submit="auth.register()"> <div class="form-group"> 
  <input class="form-control" type="text" name="usernameReg" minlength="5" maxlength="30" ng-model="auth.username" username-available-validator placeholder="Nom ou pseudo" required autocomplete="off"/> 
  <p class="form-help" ng-show="auth.usernameReg && form.usernameReg.$error.unique"> That username is already taken. </p>
  <div ng-if="form.$submitted || form.usernameReg.$dirty" ng-messages="form.usernameReg.$error" class="errors"> 
  <div class="text-danger" ng-message="required">Vous n\'avez pas entré votre pseudo</div>
  <div class="text-danger" ng-message="minlength">Votre pseudo doit comporter plus de 4 caractères
  </div>
  <div class="text-danger" ng-message="maxlength">Votre pseudo est trop long</div>
  <div class="text-danger" ng-message="usernameAvailable">Ce pseudo a déjà été pris</div>
  </div>
  </div>
  <div class="form-group"> 
  <input type="email" class="form-control" name="emailReg" ng-model="auth.email" placeholder="Email Address" class="input" required autofocus on-focus email-available-validator autocomplete="off"/> 
  <p class="text-danger">{{auth.error.registeredMail}}</p>
  <div ng-if="form.$submitted || form.emailReg.$touched" ng-messages="form.emailReg.$error" class="errors"> 
  <div class="text-danger" ng-message="required">Vous n\'avez pas entré votre email</div>
  <div class="text-danger" ng-message="email">Votre adresse mail n\'est pas valide</div>
  <div class="text-danger" ng-message="emailAvailable">Cet email a déjà été enregistré</div></div>
  </div>
  <div class="form-group"> 
  <input class="form-control" type="password" class="input" name="passwordReg" minlength="5" maxlength="60" ng-model="auth.password" placeholder="Mot de passe" password-characters-validator autocomplete="off"/> 
  <div ng-if="form.$submitted || form.passwordReg.$touched" ng-messages="form.passwordReg.$error" class="errors"> 
  <div class="text-danger" ng-message="required">Vous n\'avez pas entré votre mot de passe</div>
  <div class="text-danger" ng-message="minlength">Votre mot de passe est trop court
  </div>
  <div class="text-danger" ng-message="maxlength">Votre mot de passe est trop long</div>
  <div class="text-danger" ng-message="pattern">Votre mot de passe doit avoir des caractères alphanumériques
  </div>
  </div>
  </div>
  <div class="pwstrength_viewport_progress">
    
  </div>
  <div class="form-group"> 
  <input class="form-control" type="password" class="input" name="passwordRegRepeat" required ng-model="auth.passwordConfirmation" placeholder="Mot de passe confirmation" compare-to-validator="auth.password" autocomplete="off"/> 
  <div ng-if="form.$submitted || form.passwordRegRepeat.$touched || form.passwordReg.$touched" ng-messages="form.passwordRegRepeat.$error" class="errors"> 
  <div class="text-danger" ng-message="required">Vous devez entrer un mot de passe de confirmation
  </div>
  <div class="text-danger" ng-message="compareTo">Les mots de passe sont différents</div>
  </div>
  </div>
  <div class="form-group"> 
  <div class="row"> 
  <div class="col-sm-6 col-sm-offset-3"> 
  <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Valider"> 
  <img ng-if="form.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/> 
  </div>
  </div>
  </div>
  </form> 
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
 </v-page>

</v-pages>

  </div>

</div>


<div ng-show="currentUser && !page">

  <div class="container">
    <div class="row">
      <h3>Bonjour {{currentUser.username}}</h3>
    </div>
  </div>
</div>