<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
<!-- Second navbar for search -->
<div ng-controller="MainHeaderAngCtrl as header">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" ng-click="header.changePage('index')"><img alt="Brand" src="/icons/logo.png"></a>
        <span class="app-loading-container">
          <span class="app-loading-animation" data-ng-class="status"></span>
        </span>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-3">
        <form class="navbar-form navbar-left" role="search">
          <div class="col-xs-12">
            <div class="input-group">
              <div class="input-group-btn search-panel" data-ng-class="{open: open}">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">{{header.name}}</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li data-ng-repeat="option in header.findOptionsList">
                    <a ng-show='option.name !== header.name' data-ng-click="header.setSelectedClient(option.name)">
                    {{option.name}}</a></li>
                  </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" ng-keydown="checkKeyDown($event)" class="" ng-model="header.searchText" ng-change="header.search()" name="x" placeholder="Recherche rapide...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
          <form ng-hide="currentUser" class="navbar-form navbar-right" role="search" ng-submit="header.Login()" autocomplete="off" novalidate>
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Username or Email" ng-model="header.email_username" required mongoose-error>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" ng-model="header.passwordLog" ng-minlength="4" required mongoose-error>
            </div>
            <button type="submit" class="btn btn-default">S'authentifier</button>
          </form>

    <li ng-show="currentUser" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-pencil"></span> {{currentUser.notificationsCount}} - Notifications<span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-cart" role="menu">
        <li ng-repeat="notification in currentUser.notifications">
          <span class="item">
            <span class="item-left">
              <img src="https://lorempixel.com/50/50/" alt="" />
              <span class="item-info">
                <span ng-if="notification.type === 'friendRequest'">Requête d'amitié : {{notification.userRec}}</span>
                <span ng-if="notification.type === 'accept'">Acceptation d'amitié : {{notification.userDes}}</span>
                <span ng-if="notification.type === 'like'">
                Cet utilisateur a lické une publication : {{notification.userRec}}</span>
              </span>
            </span>
            <span class="item-right">
              <button type="button" ng-if="notification.type === 'friendRequest'" class="btn btn-xs btn btn-success" data-ng-click="header.acceptFriendRequest(notification)">Accepter</button>
              <button data-ng-click="header.refuseFriendRequest(notification)" class="btn btn-xs btn-danger pull-right">x</button>
            </span>
          </span>
        </li>
        <li class="divider"></li>
        <li><a class="text-center" href="">View Cart</a></li>
      </ul>
    </li>
    <li class="dropdown" ng-show='currentUser'><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
      class="glyphicon glyphicon-comment"></span>Messages <span class="label label-primary">{{nbMessages}}</span>
    </a>
    <ul class="dropdown-menu" >
      <li ng-repeat="message in header.messages"><a href="#"><span class="label label-warning">{{message.name}}</span>{{message.message}}</a></li>
      <li class="divider"></li>
      <li><a href="#" class="text-center">View All</a></li>
    </ul>
  </li>
  <li ng-show="currentUser"><a href='/' ng-click="header.logout()">Déconnexion</a></li>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
  </nav><!-- /.navbar -->

  <div ng-init="header.initListFriend()">
    <div class="home-doctors clearfix">
      <div class="container">
        <div class="row">
          <!-- entry1 -->
          <div class="col-lg-3 col-md-3 col-sm-6  text-center doc-item" ng-repeat="suggestion in header.suggestions track by $index">
            <div class="common-doctor animated fadeInUp clearfix ae-animation-fadeInUp">
              <ul class="list-inline social-lists animate">
                <li><button type="button" class="btn btn-danger btn-sm" ng-click="header.messageSend(suggestion.userId)">Message</button></li>
                <li><button type="button" ng-show="suggestion.username.follow" ng-click="header.follow(suggestion.username.follow, suggestion._id)" class="btn btn-success btn-sm">Follow</button>
                  <div ng-show="suggestion.username">
                    <div ng-show="suggestion.username.notFollow.wait">En attente de confirmation</p>
                  </div>
                  <div ng-show="suggestion.username.notFollow.accept">Ami
                  </div></li>
                </ul>
                <figure ng-show='suggestion._source.profileImage'>
                  <img width="670" height="500" ng-src="images/{{suggestion._source.profileImage}}" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="doctor-2">
                </figure>

                <figure ng-show='!suggestion._source.profileImage'>
                  <img width="670" height="500" ng-src="images/default.jpeg" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="doctor-2">
                </figure>
                <div class="text-content">

                  <h5>{{suggestion.noAuth ||suggestion.username.follow || suggestion.username.notFollow.wait || suggestion.username.notFollow.accept}}</h5>
                  <!-- <div class="for-border"></div> -->
                  <h5><small>Developer</small></h5>
                </div>
              </div>
            </div>
            <!-- //The Team -->
            <div class="container" ng-show="page">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="announceSuggestion in header.announceSuggestions track by $index">
                  <div class="box">
                    <div class="info">
                      <h4 class="text-center">{{announceSuggestion._source.title}}</h4>
                      <p>{{announceSuggestion.content}}</p>
                      <a ng-href="announces/{{announceSuggestion._id}}" ng-click="header.see()" class="btn">Voir</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>