
<div class="row">

  <div class="timeline-centered">
    <div ng-repeat="act in actuality.actualities">
      <article class="timeline-entry" ng-if="act.status == 1">
        <div class="timeline-entry-inner">
          <div class="timeline-icon bg-success">
            <i class="entypo-feather"></i>
          </div>
          <div class="timeline-label">
            <h2><a ng-href="#">{{act.creator.username}}</a> <span>une nouvelle annonce a été publiée</span>
            </h2>
            <p>{{act.content}}</p>
          </div>

        </div>
      </article>
      <article class="timeline-entry" ng-if="act.status == 2">
        <div class="timeline-entry-inner">
          <div class="timeline-icon bg-warning">
            <i class="entypo-camera"></i>
          </div>
          <div class="timeline-label">
            <h2><a ng-href="#">{{act.creator.username}}</a> <span>a changé sa photo de profil</span> <a ng-href="#">Photo de profil</a> 
            </h2>
            <img ng-src="/images/{{act.content}}" class="img-responsive img-rounded full-width">
          </div>
        </div>
      </article>
    </div>
    <article class="timeline-entry begin">
      <div class="timeline-entry-inner">
        <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
          <i class="entypo-flight"></i> +
        </div>
      </div>
    </article>
  </div>
</div>