<link href="stylesheets/custom.css" rel="stylesheet" />
<h1>Messages</h1>
<h2 class="glyphicon glyphicon-user bg-success">{{currentUser.username}}</h2>
<div class="row pad-top pad-bottom">
  <div class="col-lg-3 col-md-3 col-sm-3">
    <div class="chat-box-online-div">
      <div class="chat-box-online-head">
        Personnes connectées {{ peopleCount }}
      </div>
      <div class="panel-body chat-box-online">
        <div class="chat-box-online-left" ng-repeat="user in users">
          <!--                             <img src="assets/img/user.png" alt="bootstrap Chat box user image" class="img-circle" /> -->
          {{ user.name }}
          <br />
          ( <small>Active from 3 hours</small> )
        </div>
        <hr class="hr-clas-low" />
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <div class="chat-box-new-div">
      <div class="chat-box-new-head">
        Amis (4)
      </div>
      <div class="panel-body chat-box-new" ng-repeat="username in usernames">
        <!-- <img src="assets/img/user.png" alt="bootstrap Chat box user image" class="img-circle" /> -->
        <form class="form-inline" role="form"><div class="form-group"><p class="white">{{username}}</p></div><button class="btn btn-success btn-xs" type="submit" ng-click='startChat(username)'>Join</button>
        
        <hr class="hr-clas-low" />
      </div>
    </div>
  </div>
  <div class=" col-lg-6 col-md-6 col-sm-6" ng-hide="!joined">
    
    <div class="panel panel-info">
      <div>
        <span class="glyphicon glyphicon-user pull-left">{{userRec}}</span><span class="glyphicon glyphicon-user pull-right">{{currentUser.username}}</span>
      </div>
      <hr class="hr-clas" />
      <div class="panel-body chat-box-main" ng-repeat="message in messages track by $index">
        <div class="chat-box-left">
          {{ message.message }}
        </div>
        <div class="chat-box-name-left">
          <!-- <img src="assets/img/user.png" alt="bootstrap Chat box user image" class="img-circle" /> -->
          -  {{ message.name }}
        </div>
        <hr class="hr-clas" />
      </div>
      
      <div class="chat-box-footer">
        <div class="input-group">
          <input type="text" placeholder="Message..." class="form-control" ng-model="message" name="message" id="message" ng-keypress="typing($event, currentUser.username)" on-focus="focus(true)" on-blur="focus(false)">
          <span class="input-group-btn">
            <button class="btn btn-info" ng-click='send(currentUser.username, userRec)' type="button">SEND</button>
            <small  ng-if="error" class="text-danger">{{ error.send }}</small>
          </span>
        </div>
      </div>
      <div class="col-lg-6">
        <div id="sidebar">
          <ul ng-if="isTyping">
            <li ng-repeat="person in typingPeople track by $index" class="text-muted list-unstyled"><small>{{ person }} is typing</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>