<div header></div>
<div class="home-page main">
  <section class="grid-wrap">
    <h1>Messages</h1>
    <div class="grid col-one-half mq2-col-full">
      <h2 class="glyphicon glyphicon-user bg-success">{{currentUser.username}}</h2>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ peopleCount }} online <b class="caret" ng-if="peopleCount > 0"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="user in users"><p class="white">{{ user.name }} </p></li>
          </ul>
        </li>
      </ul>
      <div class="my-controller">
        <h4>Page: {{ currentPage }}</h4>
        <label for="search">Friends per page:</label>
        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
        <br>
        <table class="table svcList">
          <tbody>
            <tr dir-paginate="username in usernames | searchFor:searchString | itemsPerPage: pageSize" current-page="currentPage">
              <td class="service">
                <form role="form">
                  <p class="white">{{username}}</p><button class="btn btn-success btn-xs" type="submit" ng-click='startChat(username)'>Join</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-controller="PaginationController" class="other-controller">
        <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/templates/dirPaginationTemplate.html"></dir-pagination-controls>
        </div>
      </div>
    </div>
    <div class="grid col-one-half mq2-col-full">
      <section ng-hide="!joined">
        <h2 class="glyphicon glyphicon-user bg-danger">{{userRec}}</h2>
        <div id="chatpanel">
          <div id="chat">
            <form class="form-inline" role="form">
              <div class="form-group">
                <label class="sr-only" for="message">Message: </label>
                <input type="text" placeholder="Enter message" class="form-control" ng-model="message" name="message" id="message" ng-keypress="typing($event, currentUser.username)" on-focus="focus(true)" on-blur="focus(false)">
              </div>
              <button type="submit" class="btn btn-default btn-sm" ng-click='send(currentUser.username)'>Send message</button>
            </form>
            <small  ng-if="error" class="text-danger">{{ error.send }}</small>
          </div>
          <table class="table svcList">
            <tbody>
              <tr ng-repeat="message in messages track by $index">
                <td class="service">
                  
                  {{ message.name }}: {{ message.message }}
                </td>
              </tr>
            </tbody>
          </table>
          <div id="messages">
            <ul >
              <li class="list-unstyled"></li>
            </ul>
          </div>
          <div id="sidebar">
            <ul ng-if="isTyping">
              <li  ng-repeat="person in typingPeople track by $index" class="text-muted list-unstyled"><small>{{ person }} is typing</small></li>
            </ul>
          </div>
        </div>
      </section>
    </div>

  </section class="grid-wrap">
</div>
<div class="about-page main grid-wrap">    
    <aside class="grid col-one-quarter mq2-col-full">
    </aside>
    
    <section class="grid col-three-quarters mq2-col-full">
      
      <article id="navteam">
                <div class="grid col-one-half mq2-col-full">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ roomCount }} room<span ng-if="roomCount  === 0 || roomCount > 1">s</span> <b class="caret" ng-if="roomCount > 0"></b></a>
        <ul class="dropdown-menu">
          <li ng-repeat="room in rooms">
            <form class="form-inline" role="form">{{ room.name }}
              <button class="btn btn-success btn-xs" type="submit" ng-click='joinRoom(room)' ng-hide='room.id === user.owns || room.id === user.inroom || user.owns || user.inroom'>Joindre</button>
              <button type="submit" ng-click='deleteRoom(room)' class="btn btn-xs btn-danger" ng-show='room.id === user.owns'>Effacer</button>
              <button type="submit" ng-click="leaveRoom(room)" class="btn btn-xs btn-info" ng-hide='room.id === user.owns || !user.inroom || user.owns || user.inroom !== room.id'>Partir</button>
            </form>
          </li>
        </ul>
      </li>
      <p>
        <span  ng-if="user.owns">Vous êtes propriétaire de la chambre :
          <strong>{{ user.roomname }}</strong>.
        </span>
        <span  ng-if="!user.owns && user.inroom">Vous avez joint cette chambre :
          <strong>{{ user.roomname }}</strong>.
          <br>
          Vous pouvez aussi créer votre propre chambre
        </span>
        <br>
      </p>
      <p ng-show="!user.inroom">Créez une chambre de discussion ou joignez en une
        <div id="createroom">
          <form role="form" ng-hide="user.owns && user.inroom">
            <ul>
              <li>
                <label class="sr-only" for="roomname">Nom de la chambre: </label>
                <input type="text" placeholder="Entrez un nom de chambre" ng-model="roomname" name="roomname" id="roomname">
              </li>
              <li>
                <button type="submit" class="btn btn-default btn-sm" ng-click="createRoom()">Créez une chambre</button>
                <small  ng-if="error" class="text-danger">{{ error.create }}</small>
              </li>
            </ul>
          </form>
        </div>
      </p>
    </div>
      
      </article>
    </section>
    
  </div> <!--main-->